<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%-include('../inc/Top.ejs') %>
    <hr />
    <div class="container">
        <h2>Member</h2>
        <p>
            <%= user.name %>님 반갑습니다 (<%= user.email %>)<br/>
            <a href="/logout">Logout</a>
        </p>
        <table class="table">
            <tr>
                <th>NO</th>
                <th>NAME</th>
                <th>EMAIL</th>
            </tr>
            <tr>
                <td>1</td>
                <td>홍길동</td>
                <td>hong@gmail.com</td>
            </tr>
        </table>
    </div>
</body>
</html>