<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%-include('../inc/Top.ejs') %>
    <hr />
    <div class="container">
        <h2>TodoList Input</h2>
        <form action="/todo/input" method="post">
            <table>
                <tr>
                    <td>할일:</td>
                    <td><input type="text" name="title"></td>
                </tr>
                <tr>
                    <td>확인:</td>
                    <td><select name="done">
                        <option value="false">미완료</option>
                        <option value="true">완료</option>
                    </select></td>
                </tr>
                <td colspan="2">
                    <input type="submit" value="저장">
                </td>
            </table>
        </form>
    </div>
</body>
</html>